# Dependency directories
node_modules/
demo/
dist/
example/
# Optional npm cache directory
.npm
.idea
.vscode/
.history
src/config/config-user.js
src/format-html.json
logs
.eslintcache
ts-dist/
coverage